.navigation-bar-container {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 26px 0;
  border-top: 1px solid #dee2e6;
}

.navigation-bar-text {
  text-decoration: none;
  color: #212529;
  font-size: 1.9rem;
}
